<% @matches.each_with_index do |matches, idx| %>
  <div class="grid_1">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= idx+1 %></h5>
  </div>
  <div class="grid_2">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= link_to matches.matchdate.strftime("%a %d %b"), match_path(matches.id) %></h5>
  </div>
<% if parm == "season" %>
  <div class="grid_5">
    <%= h5cupcheck(idx,matches.competition_id, true) %><%= link_to homevenue(matches.opponent.shortname,matches.han), opponent_path(matches.opponent.id) %><%= constructcompetition(matches.competition.abbrev,matches.round,matches.leg,matches.replay) %></h5>
  </div>
<% else %>
  <div class="grid_2">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= link_to matches.season.season, season_path(matches.season.id) %></h5>
  </div>
  <div class="grid_1">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= matches.han %></h5>
  </div>
  <div class="grid_3">
    <% if matches.competition.id == 1  %>
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= matches.season.division.name %></h5>    
    <% else %>
    <% competition = constructcompetition(matches.competition.abbrev2 + " ",matches.round,matches.leg,matches.replay) %>
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= competition.gsub(/[()]/, '') %></h5>
    <% end %>
  </div>
<% end %>
  <div class="grid_1">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= wld(matches.f,matches.a) %></h5>
  </div>
  <div class="grid_1">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= matches.f %>-<%= matches.a %></h5>
  </div>
<% if parm == "season" %>
  <div class="grid_1">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= checkforzero(matches.points) %></h5>
  </div>
<% end %>
  <div class="grid_1">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= checkforzero(matches.position) %></h5>
  </div>
  <div class="grid_10">
    <%= h5cupcheck(idx,matches.competition_id, true) %><%= raw constructgoalscorersstring(matches.id) %></h5>
  </div>
  <div class="grid_2">
    <%= h5cupcheck(idx,matches.competition_id, false) %><%= checkforempty(matches.attendance.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse) %></h5>
  </div>
<% end %>
