<%= render 'seasons/show_header' %>

<%= render 'seasons/match_record',:parm=>'season' %>

<%= render 'seasons/playerstats_header' %>

<% @temp.each_with_index do |x, idx| %>
    <% @playerrecord = PlayerSeasonRecord.new(params[:id],x) %>
    <div class="grid_6"><%= h5alternate_left(idx) %><%= link_to x, player_path(Player.find_by_name(x).id) %></h5></div>
    <% apps = @playerrecord.leagueapps %>

    <%= render 'seasons/playerstats', :idx => idx %>

    <div class="grid_1"><h5 class="grey"><%= checkforzero(@playerrecord.careerapps) %></h5></div>
    <div class="grid_1"><h5 class="grey">(<%= checkforzero(@playerrecord.careersubs) %>)</h5></div>
    <div class="grid_1"><h5 class="grey"><%= checkforzero(@playerrecord.careergoals) %></h5></div>
<% end %>
