  <div class="grid_8 alpha">
    <% if key == "1" %>
      <h5 class="gold"><%= "MOST STARTS (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST STARTS (All Games)", leaders_path(:key=>1) %></h5>
    <% end %>
    <% if key == "2" %>
      <h5 class="gold"><%= "MOST STARTS (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST STARTS (League Games)", leaders_path(:key=>2) %></h5>
    <% end %>
    <% if key == "3" %>
      <h5 class="gold"><%= "MOST APPEARANCES (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST APPEARANCES (All Games)", leaders_path(:key=>3) %></h5>
    <% end %>
    <% if key == "4" %>
      <h5 class="gold"><%= "MOST APPEARANCES (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST APPEARANCES (League Games)", leaders_path(:key=>4) %></h5>
    <% end %>
    <% if key == "5" %>
      <h5 class="gold"><%= "MOST APPEARANCES (FA Cup Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST APPEARANCES (FA Cup Games)", leaders_path(:key=>5) %></h5>
    <% end %>
    <% if key == "6" %>
      <h5 class="gold"><%= "MOST APPEARANCES (League Cup Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST APPEARANCES (League Cup Games)", leaders_path(:key=>6) %></h5>
    <% end %>
    <% if key == "7" %>
      <h5 class="gold"><%= "MOST APPEARANCES (European Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST APPEARANCES (European Games)", leaders_path(:key=>7) %></h5>
    <% end %>
    <% if key == "8" %>
      <h5 class="gold"><%= "MOST MINUTES PLAYED (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST MINUTES PLAYED (All Games)", leaders_path(:key=>8) %></h5>
    <% end %>
    <% if key == "9" %>
      <h5 class="gold"><%= "MOST MINUTES PLAYED (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST MINUTES PLAYED (League Games)", leaders_path(:key=>9) %></h5>
    <% end %>
    <% if key == "10" %>
      <h5 class="gold"><%= "MOST GOALS SCORED (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST GOALS SCORED (All Games)", leaders_path(:key=>10) %></h5>
    <% end %>
    <% if key == "11" %>
      <h5 class="gold"><%= "MOST GOALS SCORED (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST GOALS SCORED (League Games)", leaders_path(:key=>11) %></h5>
    <% end %>
    <% if key == "12" %>
      <h5 class="gold"><%= "MOST GOALS SCORED (FA Cup Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST GOALS SCORED (FA Cup Games)", leaders_path(:key=>12) %></h5>
    <% end %>
    <% if key == "13" %>
      <h5 class="gold"><%= "MOST GOALS SCORED (League Cup Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST GOALS SCORED (League Cup Games)", leaders_path(:key=>13) %></h5>
    <% end %>
    <% if key == "14" %>
      <h5 class="gold"><%= "MOST GOALS SCORED (European Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST GOALS SCORED (European Games)", leaders_path(:key=>14) %></h5>
    <% end %>
    <% if key == "15" %>
      <h5 class="gold"><%= "MOST CAUTIONS (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST CAUTIONS (All Games)", leaders_path(:key=>15) %></h5>
    <% end %>
    <% if key == "16" %>
      <h5 class="gold"><%= "MOST CAUTIONS (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST CAUTIONS (League Games)", leaders_path(:key=>16) %></h5>
    <% end %>
    <% if key == "17" %>
      <h5 class="gold"><%= "MOST DISMISSALS (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST DISMISSALS (All Games)", leaders_path(:key=>17) %></h5>
    <% end %>
    <% if key == "18" %>
      <h5 class="gold"><%= "MOST DISMISSALS (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST DISMISSALS (League Games)", leaders_path(:key=>18) %></h5>
    <% end %>
    <% if key == "19" %>
      <h5 class="gold"><%= "MOST OWN GOALS SCORED (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST OWN GOALS SCORED (All Games)", leaders_path(:key=>19) %></h5>
    <% end %>
    <% if key == "20" %>
      <h5 class="gold"><%= "MOST OWN GOALS SCORED (League Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST OWN GOALS SCORED (League Games)", leaders_path(:key=>20) %></h5>
    <% end %>
    <% if key == "21" %>
      <h5 class="gold"><%= "YOUNGEST DEBUTANTS (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "YOUNGEST DEBUTANTS (All Games)", leaders_path(:key=>21) %></h5>
    <% end %>
    <% if key == "22" %>
      <h5 class="gold"><%= "OLDEST PLAYERS (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "OLDEST PLAYERS (All Games)", leaders_path(:key=>22) %></h5>
    <% end %>
    <% if key == "23" %>
      <h5 class="gold"><%= "YOUNGEST GOALSCORERS (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "YOUNGEST GOALSCORERS (All Games)", leaders_path(:key=>23) %></h5>
    <% end %>
    <% if key == "24" %>
      <h5 class="gold"><%= "MOST APPEARANCES AGAINST (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST APPEARANCES AGAINST (All Games)", leaders_path(:key=>24) %></h5>
    <% end %>
    <% if key == "25" %>
      <h5 class="gold"><%= "MOST GOALS AGAINST (All Games)" %></h5>
    <% else %>
      <h5 class="grey"><%= link_to "MOST GOALS AGAINST (All Games)", leaders_path(:key=>25) %></h5>
    <% end %>

  </div>