<%= render 'opponents/index_header' %>

<% @opponents.each_with_index do |x, idx| %>
  <div class="grid_6"><%= h5alternate_left(idx) %><%= link_to x.name, x %></h5></div>
  <div class="grid_2"><%= h5alternate(idx) %><%= x.city.country.code %></h5></div>
  <% opponent = OpponentRecord.new(x.id) %>
  <div class="grid_4"><%= h5alternate(idx) %><%= opponent.firstgame %></h5></div>
  <div class="grid_4"><%= h5alternate(idx) %><%= opponent.lastgame %></h5></div>
  <% played = opponent.played %>
  <div class="grid_1"><%= h5alternate(idx) %><%= checkforzero(played) %></h5></div>
  <% won = opponent.won %>
  <div class="grid_1"><%= h5alternate(idx) %><%= checkforzero(won) %></h5></div>
  <% drawn = opponent.drawn %>
  <div class="grid_1"><%= h5alternate(idx) %><%= checkforzero(drawn) %></h5></div>
  <div class="grid_1"><%= h5alternate(idx) %><%= checkforzero(opponent.lost) %></h5></div>
  <div class="grid_1"><%= h5alternate(idx) %><%= checkforzero(opponent.for) %></h5></div>
  <div class="grid_1"><%= h5alternate(idx) %><%= checkforzero(opponent.against) %></h5></div>
  <% if played == 0 %>
  <div class="grid_1"><%= h5alternate(idx) %>-</h5></div>
  <div class="grid_1"><%= h5alternate(idx) %>-</h5></div>
  <% elsif played == won %>
  <div class="grid_1"><%= h5alternate(idx) %>1.000</h5></div>
  <div class="grid_1"><%= h5alternate(idx) %>3.00</h5></div>
  <% else %>
  <div class="grid_1"><%= h5alternate(idx) %>.<%= (won*1000)/played %></h5></div>
  <div class="grid_1"><%= h5alternate(idx) %><%= ((((won*3)+drawn)*100)/played).to_s.reverse.gsub(/..(?=.)/,'\&.').reverse %></h5></div>
  <% end %>
<% end %>
