<% @managers.each_with_index do |x, idx| %>
  <div class="grid_6">
    <%= h5alternate(idx) %><%= link_to x.name, x %></h5>
  </div>
  <div class="grid_4">
    <%= h5alternate(idx) %><%= managertype(x.managertype) %></h5>
  </div>
  <div class="grid_3">
    <%= h5alternate(idx) %><%= x.startdate.strftime("%B %d, %Y") %></h5>
  </div>
  <div class="grid_3">
    <%= h5alternate(idx) %><%= managerenddate(x.enddate.strftime("%B %d, %Y")) %></h5>
  </div>
  <%= render 'managers/match_totals',:idx=>idx,:competition_id=>1,:startdate=>x.startdate,:enddate=>x.enddate,:alpha=>false%>
<% end %>
  