<div class="grid_24">
  <h2><%= @manager.informalname.upcase %></h2>
</div>
<div class="grid_16">
  <h2>Pen Picture</h2>
</div>
<div class="grid_8">
  <h2>Managerial Statistics whilst at Forest</h2>
  <%= render 'layouts/pwdlfa',:alpha => true %>
  <div class="grid_1">
    <h4>W%</h4>
  </div>
  <div class="grid_1 omega">
    <h4>Avg</h4>
  </div>
  <div class="grid_8 alpha">
  <hr><h6 class="left">LEAGUE</h6><hr>  
  </div>
  <% startdate = Manager.find_by_name(@manager.name,:first,:order => 'startdate ASC').startdate %>
  <% enddate = Manager.find_by_name(@manager.name,:last,:order => 'enddate DESC').enddate %>
  <%= render 'managers/match_totals',:idx=>2,:competition_id=>1,:startdate=>startdate,:enddate=>enddate,:alpha=>true %> 
  <div class="grid_8 alpha">
  <hr><h6 class="left">FA CUP</h6><hr>  
  </div>
  <%= render 'managers/match_totals',:idx=>1,:competition_id=>3,:startdate=>startdate,:enddate=>enddate,:alpha=>true %> 
  <div class="grid_8 alpha">
  <hr><h6 class="left">LEAGUE CUP</h6><hr>  
  </div>
  <%= render 'managers/match_totals',:idx=>2,:competition_id=>2,:startdate=>startdate,:enddate=>enddate,:alpha=>true %> 
  <div class="grid_8 alpha">
  <hr><h6 class="left">EUROPEAN COMPETITIONS</h6><hr>  
  </div>
  <%= render 'managers/european_totals',:idx=>1,:startdate=>startdate,:enddate=>enddate,:alpha=>true %> 
  <div class="grid_8 alpha">
  <hr><h6 class="left">OTHER DOMESTIC COMPETITIONS</h6><hr>  
  </div>
  <%= render 'managers/other_totals',:idx=>2,:startdate=>startdate,:enddate=>enddate,:alpha=>true %> 
  <div class="grid_8 alpha">
  <hr><h6 class="left">TOTALS</h6><hr>  
  </div>
  <%= render 'managers/match_totals',:idx=>1,:competition_id=>0,:startdate=>startdate,:enddate=>enddate,:alpha=>true %> 
  <hr>
</div>

