<div class="grid_16">
  <%= image_tag("bg630.gif", :alt => "shirt") %>
</div>
<% @match = Match.last %>
<div class="grid_8">  
  <h4><%= link_to "LATEST MATCH", match_path(@match.id) %></h4>
  <h5 class="center">
    <%= @match.matchdate.strftime("%B %d, %Y") %> - 
    <% if @match.competition.id == 1 %>
      <%= @match.season.division.name %>    
    <% else %>
      <%= @match.competition.name + " " + cuproundverbose(@match.round,999,0) %>
    <% end %>
  </h5>
  <%= render 'matches/scoreline' %>  
  <%= render 'matches/forestteam',:id => @match.id %>
</div>