<% @match = Match.last %>
<div class="grid_8">  
  <h4><%= link_to "LATEST MATCH", match_path(@match.id) %></h4>
  <h5 class="center">
    <%= @match.matchdate.strftime("%B %d, %Y") %> - 
    <% if @match.competition.id == 1 %>
      <%= @match.season.division.name %>    
    <% else %>
      <%= @match.competition.name + " " + cuproundverbose(@match.round,999,0) %>
    <% end %>
  </h5>
  <%= render 'matches/scoreline' %>  
  <%= render 'matches/forestteam',:id => @match.id %>
</div>

<div class="grid_8">
  <% current = Season.last(:order => :season) %>
  <h4><%= link_to current.season, season_path(current.id) %></h4>
  <%= render 'layouts/pwdlfa',:alpha => true %>
  <div class="grid_1">
  <h4>Pts</h4>
  </div>
  <div class="grid_1 omega">
  <h4>Pos</h4>
  </div>
  <% season = SeasonRecord.new(current.id) %>
  <div class="grid_1 alpha">
    <h5 class="center"><%= season.played %></h5>
  </div>
  <div class="grid_1">
  <% won = season.won %>
    <h5 class="center"><%= won %></h5>
  </div>
  <div class="grid_1">
  <% drawn = season.drawn %>
    <h5 class="center"><%= drawn %></h5>
  </div>
  <div class="grid_1">
    <h5 class="center"><%= season.lost %></h5>
  </div>
  <div class="grid_1">
    <h5 class="center"><%= season.f %></h5>
  </div>
  <div class="grid_1">
    <h5 class="center"><%= season.a %></h5>
  </div>
  <div class="grid_1">
    <h5 class="center"><%= (won*season.points)+drawn %></h5>
  </div>     
  <div class="grid_1 omega">
  <% if season.played == 0 %>
    <h5 class="center">-</h5>
  <% else %>
    <h5 class="center"><%= @match.position.ordinalize %></h5>
  <% end %>
  </div>
  <hr><h6 class="center">MOST GOALS SCORED (ALL GAMES)</h6><hr>
  <div class="grid_1 alpha">
  <h4>No</h4>
  </div>
  <div class="grid_6">
  <h4>Player</h4>
  </div>
  <div class="grid_1 omega">
  <h4>Gls</h4>
  </div>
  <% @goals = Goal.select("goals.player_id,count(goals.player_id) as goals").joins(:match).where("matches.season_id=?",current.id).group("goals.player_id").order("goals DESC").limit(5) %>
  <% @goals.each_with_index do |x,idx| %>
  <div class="grid_1 alpha"><%= h5alternate(idx) %><%= idx+1 %></h5></div>
  <div class="grid_6"><%= h5alternate_left(idx) %><%= link_to x.player.knownname, player_path(x.player.id) %></h5></div>
  <div class="grid_1 omega"><%= h5alternate(idx) %><%= x.goals %></h5></div>
  <% end %>
  <% for idx in @goals.size..4 %>
  <div class="grid_1 alpha"><%= h5alternate(idx) %>&nbsp;</h5></div>
  <div class="grid_6"><%= h5alternate_left(idx) %>&nbsp;</h5></div>
  <div class="grid_1 omega"><%= h5alternate(idx) %>&nbsp;</h5></div>
  <% end %>
  
  <hr><h6 class="center">MOST STARTS (ALL GAMES)</h6><hr>
  <div class="grid_1 alpha">
  <h4>No</h4>
  </div>
  <div class="grid_6">
  <h4>Player</h4>
  </div>
  <div class="grid_1 omega">
  <h4>App</h4>
  </div>
  <% @apps = Appearance.select("appearances.player_id,count(appearances.player_id) as apps").joins(:match).where("matches.season_id=?",current.id).group("appearances.player_id").order("apps DESC").limit(5) %>
  <% @apps.each_with_index do |x,idx| %>
  <div class="grid_1 alpha"><%= h5alternate(idx) %><%= idx+1 %></h5></div>
  <div class="grid_6"><%= h5alternate_left(idx) %><%= link_to x.player.knownname, player_path(x.player.id) %></h5></div>
  <div class="grid_1 omega"><%= h5alternate(idx) %><%= x.apps %></h5></div>
  <% end %>
  <% for idx in @apps.size..4 %>
  <div class="grid_1 alpha"><%= h5alternate(idx) %>&nbsp</h5></div>
  <div class="grid_6"><%= h5alternate_left(idx) %>&nbsp;</h5></div>
  <div class="grid_1 omega"><%= h5alternate(idx) %>&nbsp;</h5></div>
  <% end %>
  
  <% sql = "SELECT player_id, SUM(time_off-time_on) AS mins FROM (SELECT player_id, 1 AS time_on,
    appearances.off+1 AS time_off, match_id FROM appearances UNION SELECT player_id, substitutes.on
    AS time_on, substitutes.off+1 AS time_off, match_id FROM substitutes) AS foo INNER JOIN matches
    ON foo.match_id=matches.id WHERE matches.season_id = " + current.id.to_s + " GROUP BY player_id ORDER BY MINS DESC LIMIT 5" %>
  
  <% @mins = Appearance.find_by_sql(sql) %>
  
  <hr><h6 class="center">MOST MINUTES PLAYED (ALL GAMES)</h6><hr>
  <div class="grid_1 alpha">
  <h4>No</h4>
  </div>
  <div class="grid_6">
  <h4>Player</h4>
  </div>
  <div class="grid_1 omega">
  <h4>Min</h4>
  </div>
  <% @mins.each_with_index do |x,idx| %>
  <div class="grid_1 alpha"><%= h5alternate(idx) %><%= idx+1 %></h5></div>
  <div class="grid_6"><%= h5alternate_left(idx) %><%= link_to x.player.knownname, player_path(x.player.id) %></h5></div>
  <div class="grid_1 omega"><%= h5alternate(idx) %><%= x.mins %></h5></div>
  <% end %>
  <% for idx in @mins.size..4 %>
  <div class="grid_1 alpha"><%= h5alternate(idx) %>&nbsp</h5></div>
  <div class="grid_6"><%= h5alternate_left(idx) %>&nbsp;</h5></div>
  <div class="grid_1 omega"><%= h5alternate(idx) %>&nbsp;</h5></div>
  <% end %>
</div>

<div class="grid_8">
  <h4><%= link_to "STATISTIC LEADERS", home_path %></h4>
  <hr><h6 class="center">MOST STARTS (ALL GAMES)</h6><hr>
  <% stat = Appearance.select("appearances.player_id,count(appearances.player_id) as apps").group("appearances.player_id").order("apps DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].apps %></h5></div>
  <% stat = Appearance.select("appearances.player_id,count(appearances.player_id) as apps").joins("INNER JOIN players ON appearances.player_id=players.id").where("players.active=1").group("appearances.player_id").order("apps DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5 class="alternate"><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="alternate center"><%= stat[0].apps %></h5></div>
  <hr><h6 class="center">MOST STARTS (LEAGUE GAMES)</h6><hr>
  <% stat = Appearance.select("appearances.player_id,count(appearances.player_id) as apps").joins("INNER JOIN matches ON appearances.match_id=matches.id").where("matches.competition_id=1").group("appearances.player_id").order("apps DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].apps %></h5></div>
  <% stat = Appearance.select("appearances.player_id,count(appearances.player_id) as apps").joins("INNER JOIN players ON appearances.player_id=players.id INNER JOIN matches ON appearances.match_id=matches.id").where("players.active=1 AND matches.competition_id=1").group("appearances.player_id").order("apps DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5 class="alternate"><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="alternate center"><%= stat[0].apps %></h5></div>
  <hr><h6 class="center">MOST APPEARANCES (ALL GAMES)</h6><hr>
  <% sql = "SELECT player_id, SUM(apps) as total_apps FROM (SELECT player_id, COUNT(player_id) AS apps FROM appearances
    GROUP BY player_id UNION SELECT player_id, COUNT(player_id) AS apps FROM substitutes GROUP BY player_id) AS foo GROUP
    BY player_id ORDER BY total_apps DESC LIMIT 1" %>
  <% stat = Appearance.find_by_sql(sql) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].total_apps %></h5></div>
  <% sql = "SELECT player_id, SUM(apps) as total_apps FROM (SELECT player_id, COUNT(player_id) AS apps FROM appearances
    GROUP BY player_id UNION SELECT player_id, COUNT(player_id) AS apps FROM substitutes GROUP BY player_id) AS foo INNER
    JOIN players ON foo.player_id=players.id WHERE players.active=1 GROUP BY player_id ORDER BY total_apps DESC LIMIT 1" %>
  <% stat = Appearance.find_by_sql(sql) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].total_apps %></h5></div>
  <hr><h6 class="center">MOST APPEARANCES (LEAGUE GAMES)</h6><hr>
  <% sql = "SELECT player_id, SUM(apps) as total_apps FROM (SELECT player_id, COUNT(player_id) AS apps FROM appearances
    INNER JOIN matches ON matches.id=appearances.match_id WHERE matches.competition_id=1 GROUP BY player_id UNION SELECT
    player_id, COUNT(player_id) AS apps FROM substitutes INNER JOIN matches ON matches.id=substitutes.match_id
    WHERE matches.competition_id=1 GROUP BY player_id) AS foo GROUP BY player_id ORDER BY total_apps DESC LIMIT 1" %>
  <% stat = Appearance.find_by_sql(sql) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].total_apps %></h5></div>
  <% sql = "SELECT player_id, SUM(apps) as total_apps FROM (SELECT player_id, COUNT(player_id) AS apps FROM appearances
    INNER JOIN matches ON matches.id=appearances.match_id WHERE matches.competition_id=1 GROUP BY player_id UNION SELECT
    player_id, COUNT(player_id) AS apps FROM substitutes INNER JOIN matches ON matches.id=substitutes.match_id
    WHERE matches.competition_id=1 GROUP BY player_id) AS foo INNER JOIN players ON foo.player_id=players.id WHERE
    players.active=1 GROUP BY player_id ORDER BY total_apps DESC LIMIT 1" %>
  <% stat = Appearance.find_by_sql(sql) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].total_apps %></h5></div>
  <hr><h6 class="center">MOST GOALS (ALL GAMES)</h6><hr>
  <% stat = Goal.select("goals.player_id,count(goals.player_id) as goals").group("goals.player_id").order("goals DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].goals %></h5></div>
  <% stat = Goal.select("goals.player_id,count(goals.player_id) as goals").joins("INNER JOIN players ON goals.player_id=players.id").where("players.active=1").group("goals.player_id").order("goals DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5 class="alternate"><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="alternate center"><%= stat[0].goals %></h5></div>
  <hr><h6 class="center">MOST GOALS (LEAGUE GAMES)</h6><hr>
  <% stat = Goal.select("goals.player_id,count(goals.player_id) as goals").joins("INNER JOIN matches ON goals.match_id=matches.id").where("matches.competition_id=1").group("goals.player_id").order("goals DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].goals %></h5></div>
  <% stat = Goal.select("goals.player_id,count(goals.player_id) as goals").joins("INNER JOIN players ON goals.player_id=players.id INNER JOIN matches ON goals.match_id=matches.id").where("players.active=1 AND matches.competition_id=1").group("goals.player_id").order("goals DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5 class="alternate"><%= link_to stat[0].player.knownname,player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="alternate center"><%= stat[0].goals %></h5></div>
  <hr><h6 class="center">MOST CAPS</h6><hr>
  <% stat = International.select("internationals.player_id,count(internationals.player_id) as caps").group("internationals.player_id").order("caps DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">All Time</h5></div>
  <div class="grid_5"><h5><%= link_to stat[0].player.knownname + " (" + stat[0].player.country.name + ")",player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="center"><%= stat[0].caps %></h5></div>
  <% stat = International.select("internationals.player_id,count(internationals.player_id) as caps").joins("INNER JOIN players ON internationals.player_id=players.id").where("players.active=1").group("internationals.player_id").order("caps DESC").limit(1) %>
  <div class="grid_2 alpha"><h5 class="grey">Active</h5></div>
  <div class="grid_5"><h5 class="alternate"><%= link_to stat[0].player.knownname + " (" + stat[0].player.country.name + ")",player_path(stat[0].player_id) %></h5></div>
  <div class="grid_1 omega"><h5 class="alternate center"><%= stat[0].caps %></h5></div>
</div>
